<form method="post" action="/signin">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password"/>
  <button type="submit">Sign In</button>
</form>
