/*************************************
              HOME
*************************************/

body {
    background-color: rgba(207, 219, 197, .7);  /* #CFDBC5 */
    font-family: 'Playfair Display', serif;
    color: #050709;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    font-size: 1.15em;
}
.home-container {
    margin-top: 10em;
}
.home-message {
    padding-left: 10em;
}
.home-message h1 {
    font-size: 4em;
    line-height: 48px;
    margin: 24px 0;
}
.home-message p {
    font-size: 1.25em;
    line-height: 24px;
    margin: 24px 0;
    font-size: 1.25em;
}
.home-form p {
    margin: 1.5em 0;
    font-size: 1.25em;
}
.home-form p a {
    color: #050709;
}
.home-form .form-control {
    width: 50%;
}

/*************************************
              INDEX
*************************************/

.index-wrapper {
    margin: 5em auto;
    width: 80%;
    background-color: rgba(46,136,86,.5);
    padding: 2em .5em;
}
.index-flex-wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;

}
.recipe-card {
    width: 30%;
    height: 200px;
    margin: auto;
}
.recipe-card a img {
    width: 75%;
    height: 75%;
    display: block;
    margin: 1.25em auto;
    border-radius: 5px;
}
.recipe-card a img:hover{
  opacity: .7;
}
.no-recipes-wrapper{
  height: 300px;
}
.no-recipes-wrapper h1{
  margin-top: 2em;
  font-size: 4em;
  text-align: center;
}
.comment-form .form-control{
  width: 50%;
}

/*************************************
              SHOW
*************************************/
.show-wrapper{
  width: 90%;
  margin: 3em auto;
}
.show-img > img{
  width: 75%;
  height: 75%;
  display: block;
  margin: 3em auto;
}
span.breakLines{
  white-space: pre-wrap;
}
div.show-boxes{
  width: 75%;
  padding: 1em;
  border-top:1px solid black;
}
div.add-comment-container{
  margin-bottom: 2em;
}
/*********BUTTONS********/
div.show-buttons{
  margin-top: 20px;
  text-align: center;
}
div.add-comment{
  display: none;
}
a.edit{
  display: inline-block;
}
form.delete{
  display: inline-block;
}
/*********COMMENTS********/
div.comments{
  border-radius: 5px;
  border: 1px slategrey solid;
  background-color: #fff;
  padding: 1em;
  margin: 3em auto;
  width: 70%;

}
.comments > li{
  padding: .5em;
}
h2.comments-header{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
}
/*************************************
              NEW
*************************************/
.new-form-wrapper{
  width: 50%;
  margin: 5em auto;
  /*white-space: pre;*/
}


/*************************************
              MEDIA QUERIES
*************************************/

@media screen and (max-width: 600px){
  .recipe-card{
    width: 100%;
  }
  .home-message{
    padding-left: 0;
    text-align: center;
  }
  .home-form{
    text-align: center;
  }
  .home-form input{
    margin: 0 auto;
    width: 100%;
  }
}
