<div class="index-wrapper">

    <div class="container-fluid index-flex-wrapper">
        {{#each recipes}}
            <div class="recipe-card">
                <a href="/guestGet">
                  <img src="{{photo_url}}" alt="{{title}}" class="img-thumbnail" /></a>
            </div>
        {{/each}}
    </div>

</div>
