<div class="index-wrapper">

    <div class="container-fluid">
        {{#each recipes}}
            <div class="recipe-card">
                <a href="recipes/{{id}}"><img src="{{photo_url}}" alt="" /></a>
            </div>
        {{/each}}
    </div>
    {{#if message}}
        <h1>{{message}}</h1>
    {{/if}}

</div>
