<div class="container-fluid">
  {{#each recipes}}
    <div class="recipe_card">
      <h3>{{title}}</h3>
      <p>
        Directions: {{directions}}
      </p>
      <p>
        Ingredients: {{ingredients}}
      </p>
      <img src="{{photo_url}}" alt="" />
    </div>
  {{/each}}
</div>
